/* CSS Document */

/* ----------reset---------- */
body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,
li, dl, dt, dd, form, a, fieldset, input, th, td
{
margin: 0; padding: 0px; outline: none;
}

body
{
line-height: 1;
font-size: 88% /* Decide for yourself if you want to include this. */;
}

h1, h2, h3, h4, h5, h6
{
font-size: 100%;
padding: .6em 0;
margin: 0 15px;
}

ul, ol
{
list-style: none;
}

a
{
color: black;
text-decoration: none;
}

a:hover
{
text-decoration: underline;
}

.floatLeft
{
float: left;
padding: .5em .5em .5em 0;
}

.floatRight
{
float: right;
padding: .5em 0 .5em .5em;
}
/* ----------reset---------- */

/* ----------menu---------- */
#menu_wrap
{
width: 100%;
background: url(images/menu_bg.jpg) bottom repeat-x;
height: 60px;
}
#menu
{
width: 960px;
margin: 0 auto;
height: 50px;
}
#menu ul
{
list-style-type: none;
height: 50px;
margin: auto;
}
#menu li {
float: left;
text-align: center;
}
#menu ul a
{
background-repeat: no-repeat;
background-position: right;
display: block;
line-height: 50px;
text-decoration: none;
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 18px;
color: #000000;
width: 130px;
}
#menu ul a:hover
{
display: block;
line-height: 60px;
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 20px;
color: #000000;
width: 130px;
background: #209ac3;
}
/* ----------menu---------- */

/* ----------wrapper---------- */
#wrapper
{
margin: 0 auto;
width: 960px;
height: 100%;
background: #e9e6e6;
}
/* ----------wrapper---------- */

/* ----------content_wrap---------- */
#content_wrap
{
position: relative;
width: 940px;
margin: 0 auto;
margin-bottom: 6px;
top: 10px;
background: #FFFFFF;
}
/* ----------content_wrap---------- */

/* ----------headder---------- */
#header
{
height: 70px;
width: 100%;
border-bottom: 5px #333333 solid;
}
#header p
{
font:Georgia, "Times New Roman", Times, serif;
font-size:30px;
font-weight:bold;
padding: 18px;
}
/* ----------headder---------- */

/* ----------leftbar---------- */
#leftbar
{
margin-top: 10px;
margin-left: 10px;
margin-bottom: 10px;
border: 3px solid #00a1fe;
float: left;
background: #f3fbfc;
}
#leftbar p
{
padding: 10px;
border-bottom: 1px dashed #666666;
font:Georgia, "Times New Roman", Times, serif;
font-size:18px;
font-weight:bold;
}
#leftbar div ul
{
padding: 10px 10px 10px 25px;
font:Georgia, "Times New Roman", Times, serif;
font-size:16px;
list-style-type:circle;
}
#leftbar div a
{
color: #0033FF;
}
#leftbar div a:hover
{
color: #0033FF;
padding-left: 10px;
}
/* ----------leftbar---------- */

/* ----------mainbar---------- */
#mainbar
{
margin-top: 10px;
margin-bottom: 10px;
border: 3px solid #00a1fe;
float: left;
margin-right: 10px;
margin-left: 10px;
width:auto;
background: #f3fbfc;
}
#mainbar table
{
padding: 5px;
width: 100%;
font-size: 16px;

}
#mainbar td
{
padding: 7px;
font:Georgia, "Times New Roman", Times, serif;
}
.surround
{
border: 1px solid black;
}
.heading
{
font:Georgia, "Times New Roman", Times, serif;
font-size: 22px;
font-weight: bold;
}
.for_lable
{
font:Georgia, "Times New Roman", Times, serif;
font-size: 16px;
font-weight: bold;
}
/* ----------main---------- */
/* ----------rightbar---------- */
#rightbar
{
margin-top: 10px;
margin-right: 10px;
margin-bottom: 10px;
border: 3px solid #00a1fe;
float: right;
background: #f3fbfc;
}
#rightbar p
{
padding: 10px;
border-bottom: 1px dashed #666666;
font:Georgia, "Times New Roman", Times, serif;
font-size:18px;
font-weight:bold;
}
#rightbar div ul
{
padding: 10px 10px 10px 25px;
font:Georgia, "Times New Roman", Times, serif;
font-size:16px;
list-style-type:circle;
}
#rightbar div a
{
color: #0033FF;
}
#rightbar div a:hover
{
color: #0033FF;
padding-left: 10px;
}
/* ----------rightbar---------- */